<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>
        </title>
        </head>
        <body>
            <header>
<img src ="fumetsu.jfif">
<nav>
    <a target="_self" href =>SOBRE</a>
<style>
    nav{
        display:flex;      
    }
</style>
</nav>
            </header>
            <main>
                <section id = "1">
<img src = "3.jpg">
                </section>
                <section>
                   <p>TE AMO GUGU</p> 
                </section>
            </main>
        </body>
</html>
    